@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
  --font-heading: var(--font-poppins), var(--font-sans);
  --font-serif: var(--font-lora), serif;
  --font-handwriting: var(--font-shadows), cursive;
  
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  
  --color-heading: #222529;
  --color-body: #777777;
  --color-dark-section: #252828;
  
  --radius-sm: 2px;
  --radius-md: 4px;
  --radius-lg: 8px;
  
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
}


:root {
  --background: #FFFFFF;
  --foreground: #777777;
  
  --primary: #B8281F;
  --primary-foreground: #FFFFFF;
  
  --secondary: #E36159;
  --secondary-foreground: #FFFFFF;
  
  --accent: #E36159;
  --accent-foreground: #FFFFFF;
  
  --muted: #F4F4F4;
  --muted-foreground: #777777;
  
  --card: #FFFFFF;
  --card-foreground: #222529;
  
  --popover: #FFFFFF;
  --popover-foreground: #222529;
  
  --border: #E7E7E7;
  --input: #E7E7E7;
  --ring: #B8281F;
  
  --radius: 4px;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
    font-size: 13px;
    line-height: 24px;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply text-heading font-heading font-bold;
  }
}

.primary-gradient {
  background: linear-gradient(to bottom, #e36159 0%, #b8281f 100%);
}